input[type=radio] {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-top: 1px;
}

label {
    font-size: 1.2rem;
    font-weight: 600;
}

.form-check {
    display: inline-block;
    align-items: center;
}

.form-check-input:checked {
    background-color: #ec38bc;
    border-color: #ec38bc;
}

.form-check-input:focus {
    border-color: #cc31a2;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(256,56,188,.15);
}